.donate-display{
    width:30%;
    margin:0 auto;
}
#donate{
  
    text-align: center;
    background-color: #F2D36C;
    margin-bottom:30px;
}
.card-layout{
    border:1px solid #ccc;
    width:90%;
    margin:15px 0 0 15px;
    border-radius:4px;
    height:50px;
}
.CardField-input-wrapper.is-ready-to-slide{
    margin-top:30px;
}