
.header-display{
        background: #fff;
        /* margin-bottom: 1.45rem; */
        width:100%;
        border-bottom:4px solid #F2D36C;
        position: relative;
     
}
.header-main-content{   
        margin: 0 auto;
        max-width: 960;
        position: relative;
        
}
.main-logo{
    overflow:hidden;   
    width: 70px;
    height:auto;
    margin: 0 0 0 100px;   
    padding: 10px 10px 0 10px;
}
.logo-text{
        font-weight:800;
        position: absolute;
        top:20px;
        background: -webkit-linear-gradient(rgba(17, 32, 82, 0.432),rgba(236, 203, 92, 0.925));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.secure-info{
        float: right;
        position: absolute;
        top:20px;
        right:100px;
}
@media (max-width:640px) and (min-width:300px) {
        .secure-info{
                float: right;
                position: absolute;
                top:20px;
                right:10px;
        }
        .logo-text{
                display:none;

        }
        .main-logo{
                overflow:hidden;   
                width: 70px;
                height:auto;
                margin: 0 0 0 20px;   
                padding: 10px 10px 0 10px;
            }
}