
.header-display{
        background: #ccc;
        /* margin-bottom: 1.45rem; */
        width:100%;
     
}
.header-main-content{   
        margin: 0 auto;
        max-width: 960;
        
}
.main-logo{
    width: 60px;
    height:auto;
    margin: 0;    padding: 10px;
}

.secure-info{
        float: right;
}